<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">

            <li class="main-header__item">
                <a class="<%= path === '/mnc/traffic' ? 'active' : '' %>" href="/mnc/traffic">Traffic</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/mnc/road' ? 'active' : '' %>" href="/mnc/road">Road Condition</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/mnc/air' ? 'active' : '' %>" href="/mnc/air">Air Quality</a>
            </li>
        </ul>
    </nav>
</header>
