<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">

            <li class="main-header__item">
                <a class="<%= path === '/user/mycars' ? 'active' : '' %>" href="/user/mycars">My Cars</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/user/pastjourneys' ? 'active' : '' %>" href="/user/pastjourneys">Past Journeys</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/user/traffic' ? 'active' : '' %>" href="/user/traffic">Traffic</a>
            </li>
        </ul>
    </nav>
</header>
