<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">

            <li class="main-header__item">
                <a class="<%= path === '/police/allcars' ? 'active' : '' %>" href="/police/allcars">All Cars</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/police/traffic' ? 'active' : '' %>" href="/police/traffic">Traffic</a>
            </li>
        </ul>
        <form action="http://localhost:3000/logout" method="POST">
            <button class="btn" type="submit">Logout</button>
        </form>
    </nav>
</header>
