<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <style>
        #myMap { height: 360px; }
    </style>

    <script>
      L.mapbox.accessToken = 'pk.eyJ1IjoiaWFuamVubmluZ3MiLCJhIjoiZExwb0p5WSJ9.XLi48h-NOyJOCJuu1-h-Jg';
      var map = L.mapbox.map('map', 'ianjennings.l896mh2e');
      var channel = 'pubnub-mapbox';
      var tacos = new pubnub_mapbox({
        map: map,
        channel: channel,
        init: init
      });
      //////////////
      function init() {
        var point = {
          latlng: [37.370375, -97.756138]
        };
        var pn = PUBNUB.init({
          publish_key: 'demo'
        });
        setInterval(function(){
          var new_point = JSON.parse(JSON.stringify(point));
          new_point.latlng = [
            new_point.latlng[0] + (Math.floor(Math.random()) * 0.1),
            new_point.latlng[1] + (Math.floor(Math.random()) * 0.2)
          ];
          pn.publish({
            channel: channel,
            message: [new_point]
          });
        }, 500);
      };
    </script>
</head>

<body>
    <div id="myMap"></div>

    <script>
        const mymap = L.map('myMap').setView([0, 0], 3);

        const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'; 
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(mymap);
        
        // marker for car
        let marker = L.marker([0, 0]).addTo(mymap);
        
        // update function
        var i = 10;
        async function updLoc(){
            i=i+5;
            marker.setLatLng([ (i%180)-90, 44])
        }

        // calling update function
        updLoc();
        setInterval(updLoc, 1000);

    </script>
    

</body>
<!-- <body onload="initialize_map(); 
add_map_point(72.8777, 19.0760); 
add_map_point(48.7786801583205,9.230559183581361);
add_map_point(48.77839084836044,9.231098387395592);
add_map_point(48.77821941685653,9.231418825146253);
add_map_point(48.77804116552051,9.231760731524432);
add_map_point(48.77798478095757,9.231857591770742);
add_map_point(48.77793479182441,9.231959233055916);
add_map_point(48.77789216864531,9.232040697691321);
add_map_point(48.77784976059397,9.232119391875452);
add_map_point(48.77781607964182,9.232180591830247);
add_map_point(48.77777605784195,9.232255409342331);
add_map_point(48.777739956673585,9.23232386240085);
add_map_point(48.777706621280934,9.232386290075267);
add_map_point(48.77763025798431,9.232529500384944);
add_map_point(48.77761124414772,9.232578962345501);
add_map_point(48.777568643085125,9.232685348589783);
add_map_point(48.77754476950222,9.232746865393798);
add_map_point(48.77750088469463,9.232827356487206);
add_map_point(48.77745878318328,9.232910790311317);
add_map_point(48.77741595800813,9.232988600498913);
add_map_point(48.777372755115806,9.233068552599766);
add_map_point(48.777201514799266,9.233379369818085);
add_map_point(48.77702467842831,9.23369803172393);
add_map_point(48.776762657751405,9.234164000387091);
add_map_point(48.77647984081625,9.234622534964592); 
">
  <div id="map" style="width: 100vw; height: 100vh;"></div>
hallo
</body> -->
</html>