<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">

   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

<script>
 var MarkerIcon = L.Icon.extend({
    options: {
       iconSize:     [30, 45],
       shadowSize:   [30, 45],
    }
});
var pumpIcon = new MarkerIcon({
    iconUrl: '../images/pump.png',
    iconSize: [15, 30]
})

var redIcon = new MarkerIcon({
  iconUrl: '../images/red.png',
  iconSize: [15, 15]
})

var yellowIcon = new MarkerIcon({
  iconUrl: '../images/yellow.png',
  iconSize: [15, 15]
})

var greenIcon = new MarkerIcon({
  iconUrl: '../images/green.png',
  iconSize: [15, 15]
})
</script>
   <style>
       #myMap { height: 360px; }

      .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }

      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      /* Add some padding inside the card container */
      .container {
        padding: 2px 16px;
      }

      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
      }
   
    </style>
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <h2 id="ah">Where are my cars?</h2>
    <div id="myMap" class="map" style="margin:0 auto; width:70%; height:600px;"></div>


    <div id="myCarsList" class="grid-container"></div>

    <script>

      //===========  LeafLet INITIALIZATION ======================
        const mumbaiLatLong = [19.0760, 72.8777]
        const focusZoom = 16
        const mymap = L.map('myMap').setView(mumbaiLatLong, focusZoom);
        const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'; 
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(mymap);
      //===========  END =========================================


      //========= ADD Car List ====================
      let markerList = {};
        function carContent(element){
          return `
              <b>CarID:</b>     ${element['id']}     <button class="focus" style="float: right;"> Focus </button> <br>
              <b>Model:</b>     ${element['car_name']}      <br>
              <b>Running :</b>  ${element['running']}   <br>
              <b>Location:</b>  [${parseFloat(element['locx']).toFixed(6)}, ${parseFloat(element['locy']).toFixed(6)}] <br>
              <b>Speed:</b>     ${element['speed']} km/hr     <br>
              <b>Fuel: </b>     ${parseFloat(element['fuel']).toFixed(2)} liter
              `;
        }

        function addCar(element){
          var div = document.createElement('div');
          div.setAttribute('id', `car_${element['id']}`);
          div.setAttribute('class', 'card');
          div.innerHTML = `
          <div class="grid-item">
            <div class="card">
              <div class="container">
                <p class="car_content">
                  ${carContent(element)}
                </p>
              </div>
            </div>
          </div>
          `;
          div.getElementsByClassName("focus")[0].addEventListener("click", () => {
            var e = markerList[element['id']]._latlng
            mymap.panTo([e.lat, e.lng], focusZoom)
          })
          document.getElementById('myCarsList').appendChild(div);
        }

        
        fetch("http://localhost:3000/api/car", {
          method: 'post',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({"owner": "2"})
        }).then(res => {
            res.json().then(data => {
              data.rows.forEach(element => {
                addCar(element);
                b = element;
                markerList[element['id']] = L.marker([
                                        parseFloat(element['locy']),
                                        parseFloat(element['locx'])])
                                        .addTo(mymap)
              });
            });
          })
          .catch(error => {
              console.error('Fetch Error:', error)
          })

      //============= END ========================


      //======== UPDATE LOOP ================================
        function updateCar(element){
          var div = document.getElementById(`car_${element['id']}`);
          div.getElementsByClassName("car_content")[0].innerHTML = carContent(element)
          div.getElementsByClassName("focus")[0].addEventListener("click", () => {
            var e = markerList[element['id']]._latlng
            mymap.panTo([e.lat, e.lng], focusZoom)
          })
        }
        
        async function updateCars(){
            fetch("http://localhost:3000/api/car", {
                method: 'post',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({"owner": "2"})
            }).then(function(res){
              res.json().then(data => {
                data.rows.forEach(element => {
                  updateCar(element)
                  markerList[element['id']].setLatLng([
                                              parseFloat(element['locy']),
                                              parseFloat(element['locx'])
                                            ]);
                });
              });
            })
            .catch(function(error ){
                console.error('Fetch Error:', error)
            })
        }
        setInterval(updateCars, 1000);

      //=============== END UPDATE ===================

      //=============== ADD TRAFFIC SIGNAL and PETROL PUMP
      var b;
      let traffic_list = {}, petrol_list = {};
        fetch("http://localhost:3000/api/tsig", {
          method: 'post',
          headers: {'Content-Type': 'application/json'},
        }).then(res => {
            res.json().then(data => {
              data.rows.forEach(element => {
                var t_loc = element['loc']
                t_loc = t_loc.substr(6, t_loc.length-7).split(" ");
                var t_icon = NaN
                if(element['signal']=='R'){
                  t_icon = redIcon
                }
                else if(element['signal']=='G'){
                  t_icon = greenIcon
                }
                else{
                  t_icon = yellowIcon
                }
                traffic_list[element['id']] = L.marker([
                                        parseFloat(t_loc[0]),
                                        parseFloat(t_loc[1])
                                        ]
                                        ,{
                                          icon: t_icon
                                        }
                                        )
                                    .bindPopup(`ID: ${element['id']} <br>Signal: ${element['signal']}`)
                                    .addTo(mymap)
              });
            });
          })
          .catch(error => {
              console.error('Fetch Error:', error)
          })

        fetch("http://localhost:3000/api/ppump", {
          method: 'post',
          headers: {'Content-Type': 'application/json'},
        }).then(res => {
            res.json().then(data => {
              data.rows.forEach(element => {
                var p_loc = element['loc']
                p_loc = p_loc.substr(6, p_loc.length-7).split(" ");
                petrol_list[element['id']] = L.marker([
                                        parseFloat(p_loc[0]),
                                        parseFloat(p_loc[1])
                                        ]
                                        ,{
                                          icon: pumpIcon
                                        }
                                        )
                                    .bindPopup(`ID: ${element['id']} <br>Fuel: ${element['fuel_amount']}`)
                                    .addTo(mymap)
              });
            });
          })
          .catch(error => {
              console.error('Fetch Error:', error)
          })
      //=============== END 

      //=============== UPDATE TRAFFIC SIGNAL and PETROL PUMP
      async function updateTrafficPetrol(){
            fetch("http://localhost:3000/api/tsig", {
                method: 'post',
                headers: {'Content-Type': 'application/json'},
            }).then(res => {
              res.json().then(data => {
                data.rows.forEach(element => {
                  var t_icon = NaN
                  if(element['signal']=='R'){
                    t_icon = redIcon
                  }
                  else if(element['signal']=='G'){
                    t_icon = greenIcon
                  }
                  else{
                    t_icon = yellowIcon
                  }
                  traffic_list[element['id']].getPopup().setContent(
                    `ID: ${element['id']} <br>Signal: ${element['signal']}`
                  )
                  traffic_list[element['id']].setIcon(t_icon)
                });
              });
            })
            .catch(function(error ){
                console.error('Fetch Error:', error)
            })

            fetch("http://localhost:3000/api/ppump", {
                method: 'post',
                headers: {'Content-Type': 'application/json'},
            }).then(function(res){
              res.json().then(data => {
                data.rows.forEach(element => {
                  petrol_list[element['id']].getPopup().setContent(
                    `ID: ${element['id']} <br>Fuel: ${element['fuel_amount']}`
                  )
                });
              });
            })
            .catch(function(error ){
                console.error('Fetch Error:', error)
            })
        }

        setInterval(updateTrafficPetrol, 1000);
      //=============== END

    </script>
</main>
<%- include('../includes/end.ejs') %>
 