<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
</head>

<body>
<%- include('../includes/police_navigation.ejs') %>

<main>
    <h2 id="ah">City</h2>
    <div id="map" class="map" style="margin:0 auto; width:70%;"></div>

   <script type="text/javascript">
    var map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([72.8777, 19.0760]),
        zoom: 15
      })
    });
  </script>

</main>
<%- include('../includes/end.ejs') %>